*{
	font-family: 'Gabriela', serif;
}

@media screen and (max-width: 768px) {
		/* for mobile */
	body {
	  margin: 0;
	  overflow-x: hidden;
	}
	.nav-open .nav {
	  transform: translateX(0);
	}

	.nav-open .main {
	  transform: translateX(300px);
	}
	
	.nav {
	  width: 300px;
	  height: 100vh;
	  position: fixed;
	  top: 0;
	  left: 0;
	  background: #333333;
	  transform: translateX(-350px);
	  transition: transform 0.2s;
	  overflow: hidden;
	}

	.nav-close {
	  background: none;
	  display: flex;
	  align-items: center;
	  border: none;
	  padding: 15px 25px;
	  color: #dddddd;
	  margin-left: auto;
	  cursor: pointer;
	}
	.nav-close:hover {
	  background: rgba(255, 255, 255, 0.05);
	}
	.nav-links-container {
		display: flex;
		flex-direction: column;
	  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
	}
	.nav__link {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  padding: 15px 25px;
	  text-decoration: none;
	  color: #dddddd;
	}
	.nav__text {
	  font-size: 22px;
	  
	  font-weight: 500;
	}
	.nav__link:hover {
	  background: rgba(255, 255, 255, 0.05);
	}
	.main {
	  transition: transform 0.2s;
	}
	.flex-container-nav{
		display: flex;
		width: 10%;
	}
	#navButton{
		display: flex;
		background-color: transparent;
		width: 200px;
		height: 50px;
		justify-content: center;
		align-items: center;
		border-style: none;
	}
	.flex-container{
		display: flex;
	}
	.flex-new{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content:center;
		flex-direction: column;
	}
	

	
	.companions{
		display: flex;
		flex-direction: column;
	}
	.companion-message{
		text-align: center;
		font-style: italic;
		font-size: 20px;
		font-weight: bold;
		color: #151413;
		padding: 40px;
	}
	.link{
		font-size: 25px;
		padding: 15px;
		padding-right: 30px;
		color: white;
	}
	a{
		text-decoration: none;
		color: white;
	}
	.quote{
		width: 80%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.quote-text{
		color: #1F2937;
		font-size: 36px;
		font-style: italic;
		text-align: center;
		justify-content: center;
	}
	.logo{
		position: relative;
		width: 45%;
		height: auto;
		border-radius: 50%;
		padding: 20px;
	}
	.logo-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1{
		position: relative;
		font-size: 48px;
		color: #F9FAF8;
		margin-bottom:0px;
	}
	p{
		
	}
	.bonfire{
		display: flex;
		width: 85%;
		border-radius: 1.5em;
		box-shadow: 0px,0px,2em,0px,black;
		opacity: 90%;
	}
	.bonfire-container{
		display: flex;
		width: 40%;
		justify-content: center;
	}

	.message{
		
		width: 40%;
		font-size: 18px;
		color: #E5E7EB;
	}
	.button{
	  font-size: 24px;
	  display: inline-block;
	  padding: 10px 25px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #474747;
	  background-color: white;
	  border: 1px solid white;
	  border-radius: 30px;
	  margin:4px;
	}
	header{
		background-color: #1F2937;
	}
	content{
		background-color: white;
	}
	.names{
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 25px;
		color: black;
	}
	.portrait{
		height: auto;
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		border: 5px solid #151413;
	}
	.rectangle{
		display: flex;
		width: 80%;
		background-color: #C39209;
		margin: 100px;
		border-radius: 1.5em;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.footer-text{
		width:70%;
		font-size: 30px;
		color: white;
		text-align: center;
	}
	footer{
		background-color: #642709;
	}
	.desktop-logo{
		display:none;
		width:0%;
		
	}
	.join{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}
	
	.flex-container-center{
		display: flex;
		justify-content: center;
	}
	
	.flex-container{
		display: flex;
		
	}
	.flex-container-img{
		display: flex;
		justify-content: center;
	}
	.flex-container-footer{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	
	
	
	
	
	.button-text{
		line-height: 10px;
		color: grey;
		
	}
	
	
	.desktop-logo{
		display:none;
		width:0%;
		
	}
	.nav-box{
		display:flex;
		justify-content: center;
	}
	.description{
		font-size: 30px;
		color: white;
	}
	.welcome{
		text-align: center;
	}
	.description{
		text-align: center;
	}
	.container{
		  display: inline-block;
		  cursor: pointer;
	}

	.bar1, .bar2, .bar3{
	  width: 35px;
	  height: 5px;
	  background-color: #333;
	  margin: 6px 0;
	  transition: 0.4s;
	}

	.change .bar1{
	  transform: translate(0, 11px) rotate(-45deg);
	}

	.change .bar2{opacity: 0;}

	.change .bar3{
	  transform: translate(0, -11px) rotate(45deg);
	}
	.flex-container-nav{
		display: flex;
		width: 10%;
	}
	.companion-container{
		background-image: url('parchment-vertical.png');
	}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.flex-container{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content:center;
	}

	.nav{
		display: flex;
		justify-content: flex-end;
		flex-flow: row wrap;
		font-size: 30px;
		color: #E5E7EB;
		padding: 20px;
	}
	.companions{
		display: flex;
	}
	.companion-message{
		text-align: left;
		font-style: italic;
		font-size: 20px;
		font-weight: bold;
		color: #151413;
		padding: 40px;
	}
	.link{
		font-size: 25px;
		padding: 15px;
		padding-right: 30px;
		color: white;
	}
	a{
		text-decoration: none;
		color: white;
	}
	.quote{
		width: 80%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.quote-text{
		color: #1F2937;
		font-size: 36px;
		font-style: italic;
		text-align: center;
	}
	.logo{
		width: 15%;
		height: auto;
		border-radius: 50%;
		padding: 20px;
	}
	.logo-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1{
		position: relative;
		font-size: 48px;
		color: #F9FAF8;
		margin-bottom:0px;
	}
	p{
		
	}
	.flex-container-img{
		display: flex;
		justify-content: center;
	}
	.bonfire{
		display: flex;
		width: 40%;
		border-radius: 1.5em;
		box-shadow: 0px,0px,2em,0px,black;
		opacity: 90%;
		justify-content: center;
	}
	.bonfire-container{
		display: flex;
		width: 40%;
		justify-content: center;
	}

	.message{
		width: 40%;
		font-size: 18px;
		color: #E5E7EB;
	}
	.button{
	  font-size: 24px;
	  display: inline-block;
	  padding: 10px 25px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #474747;
	  background-color: white;
	  border: 1px solid white;
	  border-radius: 30px;
	  margin:4px;
	}
	header{
		background-color: #1F2937;
	}
	content{
		background-color: white;
	}
	.names{
		width: 100%;
		text-align: center;
		font-weight: bold;
		font-size: 25px;
		color: black;
	}
	.portrait{
		position: relative;
		height: auto;
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		border: 5px solid #151413;
	}
	.rectangle{
		display: flex;
		height: 150px;
		width: 1000px;
		background-color: #C39209;
		margin: 100px;
		border-radius: 1.5em;
		justify-content: center;
	}
	.footer-text{
		width:70%;
		font-size: 30px;
		color: white;
		margin-right:40px;
		
	}
	footer{
		background-color: #642709;
	}

	a{
		display: flex;
		text-decoration: none;
		text-decoration-line: none;
		text-decoration-style: initial;
		text-decoration-color: initial;
		margin-right: 50px;
		align-items: center;
	}
	h1{
		color: white;
		
	}
	.tab{
		display: flex;
		font-family: montserrat;
		font-size: 17px;
		font-weight: 600;

	}
	.flex-container{
		display: flex;
	}

	
	.nav-links-container{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.flex-container-nav{
		visibility: hidden;
	}
	
	.nav-close{
		visibility: hidden;
	}
	
	
	
	.flex-container-center{
		display: flex;
		justify-content: center;
	}
	.nav__text{
		font-size: 15px;
	}
	.description{
		font-size: 30px;
		color: white;
	}
	.join{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.welcome{
		font-size: 35px;
		text-align: center;
	}
	.description{
		text-align: center;
	}
	.companion-container{
		background-image: url('parchment.png');
	}
}